body{
    width:100%;
    height:100%;
}
#graph {
    height: 80%;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.flag {
    height: 10px;
    width: 10px;
    position: absolute;
}

.quadrant{
    opacity: 0.8;
    position: absolute;
}
.q0 {

    padding: 20px 0 0 20px;
    margin: -20px;
}
.q1 {

    padding: 0 0 20px 20px;
    margin: 0 -20px;
}
.q2 {
    padding: 0 20px 20px 0;
}
.q3 {
    padding: 20px 20px 0 0;
    margin-top:-20px;
}



h1 {
    vertical-align: top;
    width:90%;
    margin:20px auto;
}


#scrollview {
    display:inline-block;
}
#dataselector {
    white-space:nowrap;
}
#dataselector ul {
    padding:0;
    margin:0;
}


#dataselector li {
    display:inline-block;
    background-color:#fff;
    padding-right:40px;
    color: #787878;
    cursor:pointer;
}
#dataselector li.selected {
    color: #000;
}
/* For IE 6/7 - needs inline block hack (and the background color mentioned above) */
#dataselector li {
    *display:inline;
    *zoom:1;
}